<%- include('partials/header') %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Projects</h1>
    <p class="lead text-muted">
      Here you find some of my projects. Check them out!
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <% if (projects) { projects.forEach(project => { %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img
                  class="card-img-top"
                  src="<%= project.image_url %>"
                  alt="<%= project.title %>"
                  style="height: 225px; width: 100%; display: block"
                />
                <div class="card-body">
                  <p class="card-text">
                    <%= project.title %>. Implemented with:
                    <em><%= project.technologies_used %></em>. <br />Source
                    code:
                    <a href="<%= project.repository_link %>">
                      <%= project.repository_link %>
                    </a>
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <a
                      href="<%= project.live_demo_link %>"
                      role="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Go to live project
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <% }) } %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            src="assets/images/work-in-progress-icon.png"
            alt="Next project coming soon"
            style="height: 225px; width: 100%; display: block"
          />
          <div class="card-body">
            <p class="card-text">Next Project coming soon.</p>
            <div class="d-flex justify-content-between align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary"
                disabled
              >
                Go to live project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
